$fontSizeBase: 16px;

$font-family: "PP Object Sans", sans-serif;
$second-family: "Golos Text", sans-serif;
$third-family: "Inter", sans-serif;

$colorWhite: var(--color-white);
$colorDark: var(--color-dark);
$colorGreen: var(--color-green);