@import "../common/mixins";
@import "../common/variable";

.interactive-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-height: r(500);
  padding: r(24);
  color: $colorWhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}