@import "../common/mixins";
@import "../common/variable";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  &__container {}
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navbar {}
}

.navbar-header {
  ul {
    display: flex;
    grid-gap: r(15);
    list-style: none;
    li {
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: r(16);
        color: #ffffff;
        white-space: nowrap;
        transition: 0.3s;
        text-transform: uppercase;
        @include hover {
          color: #F44336;
        }
      }
    }
  }
}