:root {
  --color-primary: #235ad1;
  --color-text: #000;
  --color-hover: #061e2f;

  --font-Roboto: "Roboto", sans-serif;
  --font-IBM: "IBM Plex Sans", sans-serif;
  --font-Roboto-Condensed: "Roboto Condensed", sans-serif;

  --color-green: #71b219;
  --color-gray: #404040;
  --color-blue: #2c64eb;
  --color-black: #000;
}