$primaryColor: var(--color-primary);
$textColor: var(--color-text);
$hoverColor: var(--color-hover);
$fontSizeBase: 16px;


$fontRoboto: var(--font-Roboto);
$fontIBM: var(--font-IBM);
$fontRobotoCondensed: var(--font-Roboto-Condensed);
$colorGreen: var(--color-green);
$colorGray: var(--color-gray);
$colorBlue: var(--color-blue);

